@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&family=Public+Sans:wght@400;800&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;800&family=Raleway:wght@100;500;600;700&family=Roboto:wght@300;700&display=swap');

html {
    color: var(--cor-branca);
    font-size: 62,5%;
    font-weight: 300;
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo-cinza-escuro);
    font-family: var( --fonte-primaria);
    font-size: var(--fonte-normal);
}

.container {
    max-width: 1440px;
    margin: auto;
}


.row {
    display: flex;
    flex-wrap: wrap;   
}

.justify-content-betwen {
    justify-content: space-between;
}

.alinhar-item-no-centro{
    align-items: center;   
}

.redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes-sociais a:hover {
    color: var(--cor-primaria);
}

.redes-sociais a i {
    line-height: 40px;
    margin-left: 3px;
}

.outer-shadow {
    box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
    box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section {
    padding: 7rem 0 7rem;
}

.section-title{
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
}

.section-title h2 {
    font-size: var(--fonte-gigante);
    font-weight: 500;
    text-transform: uppercase;
}

.botao {
    font-size: var(--fonte-grande);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--cor-primaria);
}

.botao:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}

