.home .full-screen{
    min-height: 56vh;
    justify-content: center;
    align-items: center;
}

.home .texto-home{
    letter-spacing: 2px;
}



.home .texto-home, 
.home .img-home {
    flex: 0 0 50%;
    max-width: 30%;
    padding: 0 15px;
}

.home .texto-home p {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
    margin-bottom: 10px;
}

.home .texto-home h1 {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-grande);
    font-weight: 700;
    margin-bottom: 20px;
}

.home .texto-home h2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-grande);
    letter-spacing: 2px;
    margin-bottom: 30px;
}

@media (max-width:1280px) {
    .home .texto-home,
    .home .img-home {
        flex: 0 0 100%;
        max-width: 30%;
        text-align: center;
        padding: var(--mobile-padding);    
    }
}
@media (max-width:1024px) {
    .home .texto-home,
    .home .img-home {
        flex: 0 0 100%;
        max-width: 40%;
        text-align: center;
        padding: var(--mobile-padding);
        
    }
}

@media (max-width: 768px) {
    .home .texto-home {
        padding: 10px;
    }

    .home .texto-home h1 {
        font-size: var(--fonte-grande);
    }
    .home .texto-home h2 {
        font-size: var(--fonte-normal);
    }
    .home .img-box {
        margin: 0 auto;
    }
}

@media (max-width: 411px) {
    .row {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .home .texto-home h1{
        font-size: 30px  
    }

    .home .texto-home h2{
        font-size: 16px;
    }

    .home .img-home {
        width: 50%;
        margin-top: 30px;
        padding: 0;  
    }
    
    .home .img-box {
        width: 80%;
        margin: 0 auto;
    }
    .home::after {
        display: none;
    }
}