.projetos{
    height: 100vh;
    position: relative;
}
.projetos .painel-projetos .imagem-projeto{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.projetos .painel-projetos .projeto1{
    background-image: url(../image/imgbrandname.png);
}

.projetos .painel-projetos .projeto2{
    background-image: url(../image/imglapizza.png);
}

.projetos .painel-projetos .projeto3{
    background-image: url(../image/imgxyz.png);
}

.projetos .painel-projetos .projeto4 {
    background-image: url(../image/pokedex.png);
}

.projetos .imagem-projeto.mostrar{
    opacity: 1;
}

.projetos .painel-projetos h2{
    text-transform: uppercase;
}

