
.projetos .container-projetos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin: 0 auto;
    grid-gap: 20px;
}

@media(max-width:1280px){
    .projetos .container-projetos{
        padding:  0 var(--mobile-padrao);
    }
}

.projetos .container-projetos .projeto {
    border-radius: 5px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; 
    position: relative;
    
}

.projetos .container-projetos .projeto:hover,
.projetos .container-projetos .projeto:hover .informacoes-projeto{
    opacity: 0.8;
}

.projetos .container-projetos .projeto img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.projetos .container-projetos .projeto .informacoes-projeto{
    padding: 20px;
    background-color: var(--cor-fundo-muito-escuro);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; 
}
.projetos .container-projetos .projeto p:nth-child(2){
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.4rem;
}

.projetos .container-projetos .projeto h3{
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    background-color: var(--cor-fundo-muito-escuro);
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 0.7;
}

@media (max-width: 425px) {
    .projetos .row .section-title h2 {
        font-size: var(--fonte-grande);
    }

    .projetos .container-projetos {
        margin: 10px;   
    }
}