.projetos .section-title{
    padding-top: 180px;
}

.container-projetos {
   position: relative;
     
} 

.projetos .container-projetos .projeto img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    object-fit: cover;
}

.projetos .container-projetos .projeto h3{
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    background-color: var(--cor-fundo-muito-escuro);
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 0.7;
}

@media (max-width: 425px) {
    .projetos .row .section-title h2 {
        font-size: var(--fonte-grande);
    }

    .projetos .container-projetos {
        margin: 10px;
    }
}