* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--cor-clara);
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
}