@-webkit-keyframes downarrow {
    0% {-webkit-transform: translateY(0); opacity: 0.4;}
    100% {-webkit-transform: translateY(0.4em); opacity: 0.9;}
}
.seta {
    color: rgb(24, 23, 23); 
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    z-index: 2;
} 

.seta-voltar {
    left: 10px;
}
.seta-ativa{
   display: none;
}

.seta-avancar{
    right: 10px;
}

.img-ativa {
    display: block;
} 
