
.sobre-mim .row .informacoes-sobre-mim{
    padding-top: 10px;
    padding-bottom: 100px;
}

.sobre-mim .row{
    justify-content: center;
    
}
.sobre-mim .informacoes-sobre-mim {
    max-width: 80%;
    padding: 0 25px; 
    text-align: left; 
    
}

.sobre-mim .informacoes-sobre-mim .botoes {
    margin-top: 50px;
}

.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    margin-bottom: 20px;
    
}

@media(max-width:1280px){
    .sobre-mim .row {
        justify-content: center;  
    }
    .sobre-mim .informacoes-sobre-mim{
        padding: 0 var(--mobile-padding);
        text-align: center;
    } 
    .sobre-mim .informacoes-sobre-mim{
        max-width: 100%;   
    } 
}

@media(max-width:768px) {
    .sobre-mim .section-title {
        margin-top: 100px;
        padding: 40px 0 10px;
    }
    .sobre-mim .section-title h2{
        font-size: var(--fonte-grande);
        margin-top: 0;  
    }

    .sobre-mim .imagem-sobre-mim {
        display: none;
    }
}