:root {
    --cor-primaria: #ffcc00;
    --cor-secundaria: #00f7ff;
    --cor-clara: #fff;
    --cor-fundo-muito-escuro: #001527;
    --cor-fundo-escuro: #003c5c;
    --cor-fundo-claro: #006e9d;
}

:root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Raleway', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
}

:root {
    --mobile-padding: 30px;
}