:root {
    --cor-primaria:#08c5ff;
    --cor-secundaria:#054255;
    --cor-clara:#fff;
    --cor-fundo-muito-escuro: #1b1b1b;
    --cor-fundo-escuro:#000003;
    --cor-fundo-claro:#1a2a50;
}

:root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Raleway', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
}

:root {
    --mobile-padding: 30px;
}

/*
.color1 {color: #292228;}
.color2 {color: #434454;}
.color3 {color: #72747d;}
.color4 {color: #b1a9bc;}
.color5 {color: #f6eef8;}
*/

/*
.color1 {color: #000033;}
.color2 {color: #0f1f54;}
.color3 {color: #61577e;}
.color4 {color: #a399ac;}
.color5 {color: #d9d9d9;}
*/